body {
  padding-top: 50px;

  &.purple-bg {
    background-color: $color-primary;
    color: $color-white;

    a {
      color: inherit;
    }
  }

  &.features {
    background-color: $color-white;
  }
}

.white-bg {
  background-color: $color-white;
}

.color-primary {
  color: $color-primary;
}

.color-orange {
  color: $color-accent;
}

.color-white {
  color: $color-white;
}

a:focus,
a:active {
  text-decoration: none;
}

button,
a {
  font-weight: 400;
}

a > code {
  color: $link-code-color;
}

.map {
  height: 350px;
  width: 100%;
}

.light {
  font-weight: 300;
}

.medium {
  font-weight: 400;
}

.green {
  color: $color-green;
}

button {
  background: transparent;
}

img {
  max-width: 100%;

  &.shadow {
    box-shadow: 0 4px 18px 0 rgba($color-dark, .1), 0 6px 20px 0 rgba($color-dark, .09);
    margin-bottom: 20px;
    margin-top: 20px;
  }

  @media screen and (min-width: $screen-md-min) {
    &.medium {
      max-width: 75%;
    }

    &.small {
      max-width: 50%;
    }

    &.center {
      display: block;
      margin-left: auto;
      margin-right: auto;

      &.shadow {
        margin-top: 40px; // Handle margin-collapse that comes with display: block
      }
    }

    &.right {
      display: block;
      margin-left: auto;

      &.shadow {
        margin-top: 40px; // Handle margin-collapse that comes with display: block
      }

      &.wrap-text {
        margin: 12px 0 20px 40px;
        float: right;
      }
    }

    &.left {
      display: block;

      &.shadow {
        margin-top: 40px;
      }

      &.wrap-text {
        margin: 12px 40px 20px 0;
        float: left;
      }
    }
  }
}

//scss-lint:disable all
iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left;
}
//scss-lint:enable all

.animated,
.animated a {
  transition: all .2s linear;
}

.terms {
  padding-top: 50px;
  padding-bottom: 30px;
}

.newsletter-form {
  width: 206px;
  margin-left: auto;
  margin-right: auto;
}

.mc-field-group {
  padding-bottom: 5px;
}

.link-box {
  color: $link-box-color;
  border: 2px solid $link-box-border-color;
  padding: 17px;
  text-align: justify;
  border-radius: 3px;
  background: $color-white;
  margin-top: 25px;
  transition: all .2s;

  &:hover {
    background: $link-box-hover-bg;
  }

  h3 {
    margin-top: 0;
  }
}

.dark-background-link {
  color: $color-white;
  text-decoration: underline;
  font-size: 18px;
  transition-duration: .2s;

  &:hover,
  &:visited {
    color: $color-secondary-alt;
  }
}

.white-background-link {
  color: $color-primary-alt;
  text-decoration: underline;
  font-size: 18px;
  transition-duration: .2s;

  &:hover,
  &:visited {
    color: $color-secondary;
  }
}

.panel-purple {
  border-color: $color-primary;

  > .panel-heading {
    color: $color-white;
    background-color: $color-primary;
    border-color: $color-primary;
  }
}

.source-link {
  position: relative;
  padding: 6px 15px 8px;
  color: $color-white;
  font-size: 15px;
  background: $color-primary;
  z-index: 9;

  .external-source-link {
    color: $color-white;
    border-bottom: 1px solid $color-white;

    &:hover {
      border-bottom-color: transparent;
      text-decoration: none;
    }
  }
}

.md-page {
  background: $color-white;
  padding: 25px;
  margin-top: 33px;
  box-shadow: 0 3px 3px rgba($color-dark, .1);
  max-width: 900px;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.signature-block {
  width: 49%;
  display: inline-block;
  padding: 15px;
}

.fixed-sidenav {
  &.affix {
    top: 55px;
  }
}

.team {
  margin: 0;
  padding: 0;
  list-style: none;

  > li {
    display: inline-block;
  }
}

.install-gitlab-btn {
  white-space: normal;
}

.org-structure {
  font-size: 16px;

  li ul {
    margin-left: 30px;

    @media screen and (min-width: $screen-xs-min) {
      margin-left: 100px;
    }
  }

  ul {
    padding-left: 0;
    list-style: none;
  }
}

.page-container {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;

  @media (min-width: 768px) {
    padding-top: 35px;
    padding-bottom: 80px;
  }

  @media (min-width: 1200px) {
    padding-bottom: 120px;
  }

  &.landing-container {
    > .container {
      position: relative;
      z-index: 9;
    }

    .landing-hero {
      margin: 10px 0 50px;

      path {
        fill: $color-secondary;
      }
    }

    .page-subtitle {
      font-size: 28px;

      @media (max-width: $screen-xs-max) {
        font-size: 24px;
      }
    }

    h2 {
      color: $color-gray-extra-light;
      margin-top: 10px;
    }

    @media (min-width: 1200px) {
      padding-bottom: 70px;
    }
  }
}

.featured-item {
  padding: 20px;
  margin-bottom: 15px;
  background-color: $color-white;
  border: 1px solid $color-dark;
  border-radius: 4px;

  @media (min-width: 990px) {
    padding: 40px 30px;
    margin-bottom: 0;
  }

  @media (min-width: 1200px) {
    padding-left: 70px;
    padding-right: 70px;
  }

  .featured-item-icon {
    display: none;
    margin-bottom: 10px;
    font-size: 56px;

    @media (min-width: 768px) {
      display: inline-block;
    }

    @media (min-width: 1200px) {
      margin-bottom: 30px;
    }

    path {
      fill: $color-secondary;
    }
  }

  .featured-item-headline {
    margin-top: 0;
    margin-bottom: 5px;
    color: $color-primary;
  }

  .featured-item-headline-small {
    margin-top: 0;
    margin-bottom: 15px;
    color: $color-primary;
    font-size: 20px;
    font-weight: 300;

    @media (min-width: 1200px) {
      margin-bottom: 38px;
    }
  }

  .featured-item-description {
    margin-bottom: 20px;
    font-size: 17px;

    @media (min-width: 990px) {
      margin-bottom: 25px;
    }

    @media (min-width: 1200px) {
      margin-bottom: 35px;
    }
  }
}

.page-section-header {
  margin-top: 0;
  color: $color-primary;
}

.page-section-sub-header {
  color: $color-gray;
}

.page-headline {
  margin-top: 0;
  margin-bottom: 25px;
  color: $color-white;
  font-size: 36px;
  line-height: 1;

  @media (min-width: $screen-sm-min) {
    font-size: 46px;
  }
}

.what-is {
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: $color-primary-alt;
  color: $color-white;
  font-size: 16px;

  @media (min-width: 990px) {
    padding-top: 60px;
  }

  @media (min-width: 1200px) {
    padding-top: 120px;
  }

  .what-is-item-holder {
    &:not(:last-child) {
      margin-bottom: 15px;
    }

    @media (min-width: 990px) {
      margin-bottom: 0;
    }
  }

  .what-is-item {
    @media (min-width: 1200px) {
      padding-right: 40px;
    }
  }

  .what-is-item-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 30px;
  }

  .what-is-item-content {
    font-size: (16px / 16px) * 1em;

    p {
      margin-top: 0;
      margin-bottom: 10px;
    }

    p:last-child {
      margin-bottom: 0;
    }

    a {
      color: $color-white;
      text-decoration: none;
      border-bottom: 1px solid $color-white;
    }

    a:hover {
      border-bottom-color: transparent;
    }
  }
}

.what-is-item-icon {
  margin-bottom: 10px;
  font-size: (56px / 16px) * 1em;

  path {
    fill: $color-secondary-alt;
  }
}

.logos-section {
  padding-top: 40px;
  padding-bottom: 100px;
  background-color: $color-white;

  @media (min-width: 990px) {
    padding-top: 60px;
  }

  @media (min-width: 1200px) {
    padding-top: 100px;
    padding-bottom: 120px;
  }

  .logos-section-title {
    margin-top: 0;
    margin-bottom: 20px;
    color: $color-primary;
    font-size: 30px;

    @media (min-width: 990px) {
      margin-bottom: 40px;
      font-size: 47px;
    }
  }
}

.content-container {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: 990px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (min-width: 1200px) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.gitlab-cta-container {
  padding: 80px 0 100px;

  h1 {
    color: $color-primary-alt;
  }

  h4 {
    color: $color-gray;
  }

  @media(max-width: $screen-xs-max) {
    h1 {
      font-size: 36px;
    }

    h4 {
      margin-top: 30px;
    }

    a {
      margin-top: 30px;
      text-decoration: underline;
    }
  }
}

.gitlab-com-panel {
  height: 100%;

  .panel-body {
    position: relative;

    @media (min-width: $screen-md-min) {
      height: 100%;
      padding-bottom: 100px;
    }
  }

  @media (min-width: $screen-md-min) {
    .btns {
      position: absolute;
      bottom: 70px;

      b {
        display: inline-block;
        margin-bottom: 10px;
      }
    }
  }
}

.try-gitlab-ee {
  border-top: 1px solid $navbar-default-border;

  .page-headline {
    color: $color-primary;
  }

  .subheader {
    color: $color-gray;

    a {
      color: $color-gray;
      text-decoration: underline;
    }
  }
}

.explore-product-roadmap {
  border-top: 1px solid $navbar-default-border;

  .page-headline {
    color: $color-primary;
  }
}

.explore-gitlab-products {
  border-top: 1px solid $navbar-default-border;
  background-color: $body-bg;
  padding-bottom: 100px;

  .page-headline {
    color: $color-primary;
  }
}

// scss-lint:disable SelectorFormat
.a2a_default_style {
  margin-top: 10px;
}
// scss-lint:enable SelectorFormat

.sticky-banner {
  display: none;
  position: fixed;
  z-index: 0;
  bottom: 0;
  width: 100vw;
  height: 70px;
  background-color: $pricing-gray-bg;
  padding: 8px;
  box-shadow: 0 0 8px rgba($color-dark, .15);

  &.active {
    display: block;

    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }

  .sticky-banner-content {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    max-width: 750px;
  }

  .sticky-banner-text {
    display: block;
    flex: auto;

    .header-text {
      color: $color-primary;
      font-size: 20px;
      margin: 0;

      a {
        color: $color-secondary;
      }
    }

    .subheader-text {
      font-size: 16px;
      color: $color-gray;

      a {
        color: $color-gray;
        text-decoration: underline;
      }
    }
  }

  .action {
    flex: 1;
    padding: 5px 0;

    .featured-item-button {
      line-height: 20px;
      padding: 10px 15px;
    }
  }

  .dismiss-trial {
    position: absolute;
    right: 40px;
    height: 20px;
    opacity: .8;
    padding: 10px;
    cursor: pointer;
    box-sizing: initial;
    top: calc(50% - 20px);
  }

  .dismiss-trial:hover {
    opacity: 1;
  }

}

//scss-lint:disable SelectorFormat
.video_container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
  margin-bottom: 15px;

  iframe,
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
//scss-lint:enable SelectorFormat

.note {
  font-size: 16px;
  font-style: italic;
  color: $blog-color-note;
}

.page-illustrated-header-container,
.simple-header {
  position: relative;
  overflow: hidden;

  &::after {
    background-image: linear-gradient(to right, $purple-section-gradient-from, $purple-section-gradient-to 100%);
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  h1 {
    margin: 0;
    color: $color-white;
  }

  h2,
  h3,
  p {
    color: $color-gray-extra-light;
    font-size: 18px;
    line-height: 1.5;
    margin: auto;
    max-width: 800px;
    margin-bottom: 0;
    margin-top: 20px;
  }

  // h3,
  // p {
  //   font-weight: 300;
  //   margin: auto;
  //   margin-top: 10px;
  //   max-width: 800px;
  // }

  .container {
    position: relative;
    z-index: 99;
  }

  > svg {
    position: absolute;
    left: -100px;
    right: -100px;
    top: -25%;
    min-height: 150%;
    min-width: 120%;
    z-index: 9;
    fill: $color-primary;
    opacity: .5;
  }

  @media (min-width: $screen-md-min) {
    h2 {
      font-size: 22px;
      line-height: 1.6;
      margin: 10px auto 0;
      max-width: 900px;
    }
  }

  .header-container-content {
    padding: 20px 0;
    text-align: center;
    color: $color-white;

    @media (min-width: $screen-md-min) {
      padding: 80px 0;
    }
  }
}

//// New content container styles to use

// Main container to hold all content below the header

.gitlab-content-container {
  padding: 100px 200px;
  margin: auto;
  width: 100%;
  max-width: 1440px;

  h1,
  h2,
  h3 {
    font-weight: 600;
  }

  p,
  li {
    font-size: 18px;
    line-height: 1.5;
  }

  li:not(:first-child) {
    margin-top: .5em;
  }

  iframe {
    width: 100%;
    height: 585px;
    margin-top: 20px;

    @media all and (max-width: $screen-md-min) {
      height: 400px;
    }

    @media all and (max-width: $screen-xs-min) {
      height: 300px;
    }

  }

  // scss-lint:disable DuplicateProperty,PropertyUnits,PropertySpelling
  .grid-layout2 {
    grid: 1fr / repeat(2, 1fr);

    @media all and (max-width: $screen-md-min) {
      grid: 1fr / 1fr;
    }

  }
  // scss-lint:disable DuplicateProperty,PropertyUnits,PropertySpelling
  .grid-layout3 {
    grid: 1fr / repeat(3, 1fr);

    @media all and (max-width: $screen-lg-min) {
      grid: 1fr / repeat(2, 1fr);
    }

    @media all and (max-width: $screen-sm-min) {
      grid: 1fr / 1fr;
    }

  }
  // scss-lint:disable DuplicateProperty,PropertyUnits,PropertySpelling
  .grid-layout {
    display: inline-block;
    display: grid;
    grid-gap: 20px 50px;

    .grid-item {
      width: 100%;
      margin-bottom: 30px;
      float: left;
      align-items: flex-start;
    }

    @media all and (max-width: $screen-md-min) {
      grid: 1fr / 1fr;
    }

  }

  .row-layout {
    display: flex;
    justify-content: center;
    align-items: center;

    .screenshot {
      border-radius: $border-radius-large;
      box-shadow: 0 2px 4px $color-transparent-alt;
      border: 6px solid $color-white;
      width: 100%;
    }

    div:first-child {
      padding: 0 60px;

      @media all and (max-width: $screen-md-min) {
        padding: 0;
        padding-top: 30px;
        order: 2;
      }

    }

    @media all and (max-width: $screen-md-min) {
      flex-wrap: wrap;
    }

  }

  .content {

    @media all and (max-width: $screen-sm-min) {
      flex-wrap: wrap;
    }

  }

  .content:not(:first-child) {
    margin-top: 100px;
  }

  @media all and (max-width: $screen-lg-min) {
    padding: 100px;
  }

  @media all and (max-width: $screen-sm-min) {
    padding: 50px 20px;
  }

}

// Give gitlab-content-container this class if you want the rows to alternate which side the image is on. See /vsm as an example

.reverse-content {
  display: flex;
  flex-direction: column;

  div:nth-child(even) {

    div:first-child {
      order: 2;

      @media all and (max-width: $screen-md-min) {
        order: 1;
      }

    }

  }

}

//// End of new container styles

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .play-icon {
    font-size: 14px;
    margin-right: 10px;
  }

  .btn:not(:first-child) {
    margin-left: 20px;

    @media all and (max-width: $screen-sm-min) {
      margin-left: 0;
      margin-top: 20px;
    }

  }

  @media all and (max-width: $screen-sm-min) {
    flex-direction: column;
  }

}

.blank-header {
  width: 100%;
  background: $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
  color: $color-white;
  position: relative;

  .header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 750px;
  }

  .hero-image-small {
    height: 80px;
    max-width: 300px;
    margin-bottom: 40px;
  }

  .hero-image-large {
    height: 130px;
    max-width: 300px;
    margin-bottom: 40px;
  }

  h1 {
    font-size: 42px;
    font-weight: 600;
    color: $color-white;
    margin-top: 0;
    margin-bottom: 20px;
  }

  p {
    color: $color-transparent-white-alt;
    font-size: 20px;

    a {
      color: $color-white;
      text-decoration: underline;
    }

  }

  .btn {
    margin-top: 30px;
    margin-bottom: 0;
    font-weight: 400;
    padding: 4px 30px;
    font-size: 18px;
    width: auto;
    line-height: 40px;
  }

  .image-border {
    position: absolute;
    top: 0;
    height: 100%;
    opacity: .2;

    @media all and (max-width: $screen-sm-min) {
      display: none;
    }

  }

  .image-border-left {
    left: 0;
  }

  .image-border-right {
    right: 0;
  }

}

// New button styling

.button-orange {
  padding: 12px 24px;
  background: $color-accent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-white;
  white-space: nowrap;
  border-radius: $border-radius-large;
  max-height: 51px;

  &:hover,
  &:active,
  &:focus {
    background: $color-accent-alt;
    color: $color-white;
    text-decoration: none;
  }

}

//Pagination styling
.pagination {
  display: inline-block;
  list-style: none;

  li {
    float: left;

    span {
      padding: $padding-base-vertical $padding-base-horizontal;
      line-height: $line-height-base;
      text-decoration: none;
      color: $color-primary;
      margin-left: -1px;
      cursor: pointer;
    }

    &.active {
      span {
        cursor: default;
      }
    }
  }
}

.vertical-align-top {
  vertical-align: top;
}

.vertical-align-baseline {
  vertical-align: baseline;
}

.vertical-align-middle {
  vertical-align: middle;
}

.vertical-align-bottom {
  vertical-align: bottom;
}

.flex-container {
  display: flex;
}

.flex-start {
  align-items: flex-start;
  justify-content: flex-start;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-md {

  @media all and (max-width: $screen-md-min) {
    flex-wrap: wrap;
  }

}

.grid-container {
  display: grid;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-shrink {
  flex-shrink: 0;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.space-between {
  justify-content: space-between;
}

.clear-background {
  background: transparent;
}

.customer-logos-background {
  background: $light-blue-bg;
}

.font-small {
  font-size: 14px;
}

.font-regular {

  p {
    font-size: 18px;
    color: $color-black;
    line-height: 1.5;
  }

}

.padding-top0 {
  padding-top: 0;
}

.padding-top10 {
  padding-top: 10px;
}

.padding-top20 {
  padding-top: 20px;
}

.margin0 {
  margin: 0;
}

.margin-auto {
  margin: auto;
}

.margin-top0 {
  margin-top: 0;
}

.margin-top10 {
  margin-top: 10px;
}

.margin-top20 {
  margin-top: 20px;
}

.margin-top30 {
  margin-top: 30px;
}

.margin-top40 {
  margin-top: 40px;
}

.margin-top50 {
  margin-top: 50px;
}

.margin-bottom0 {
  margin-bottom: 0;
}

.margin-bottom10 {
  margin-bottom: 10px;
}

.margin-bottom20 {
  margin-bottom: 20px;
}

.margin-bottom30 {
  margin-bottom: 30px;
}

.margin-bottom40 {
  margin-bottom: 40px;
}

.margin-bottom50 {
  margin-bottom: 50px;
}

.margin-bottom100 {
  margin-bottom: 100px;
}

.font-bold {
  font-weight: 600;
}

.tile {
  border-radius: $border-radius-large;
  background: $color-white;
  box-shadow: 0 2px 4px $color-transparent-alt;
  padding: 40px;

  .tile-icon-large {
    height: 80px;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .tile-icon-medium {
    height: 50px;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .tile-icon-small {
    height: 34px;
    max-width: 100%;
    margin-bottom: 20px;
  }

}

.position-relative {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}

// sdlc include

.sdlc-container {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .table-container {
    position: relative;
    margin-left: 80px;
    width: 100%;

    @media all and (max-width: $screen-lg-min) {
      margin-left: 50px;
    }

    @media all and (max-width: $screen-md-min) {
      display: none;
    }

  }

  .competitors-container {
    position: relative;
    height: 92px;
    overflow: hidden;
  }

  .table-label {
    position: absolute;
    right: calc(100% + 20px);
    text-align: right;
    color: $color-gray;
    font-size: 15px;
  }

  .single-application-label {
    top: calc(50% - 140px);
  }

  .separate-application-label {
    top: calc(50% + 190px);
  }

  .sdlc-image {
    display: none;
    width: 100%;

    @media all and (max-width: $screen-md-min) {
      display: block;
    }

  }

  .sdlc-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin-bottom: 50px;

    .title-link {
      color: $color-primary-alt;
      text-decoration: none;

      &:hover {
        text-decoration: none;
        opacity: .6;
      }

    }

  }

  .sdlc-table {
    border-radius: $border-radius-large;
    background: $color-white;
    box-shadow: $box-shadow;

    p {
      font-size: 15px;
    }

    .phase-container {

      p {
        margin: 0;
        font-weight: 600;
        color: $color-primary;
      }

    }

    .competitor-logo-container {
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
      background: $color-white;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .competitor-logo-container:hover {

      .competitor-logo {
        transform: scale(1.1);
      }

    }

    td {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      border-top: 0;

      &:not(:last-child) {
        border-right: 1px solid $color-gray-extra-light;
      }

      svg {
        height: 44px;
        margin-bottom: 10px;
        fill: $color-primary;
      }

      .gitlab-logo {
        margin-bottom: 20px;
        height: 44px;
        max-width: 100%;
      }

      .competitor-logo {
        // position: absolute;
        max-height: calc(80% - 20px);
        max-width: calc(80% - 20px);
        transition: $transition-primary;
      }

      @media all and (max-width: $screen-lg-min) {
        padding: 20px 10px;
      }

    }

    tr {
      display: flex;
      width: 100%;
      position: relative;

      &:not(:last-child) {
        border-bottom: 1px solid $color-gray-extra-light;
      }

    }

    .logo-container {
      justify-content: center;
    }

    .solutions-container {
      padding: 20px 6px;
      text-align: center;
    }

  }

  @media all and (max-width: $screen-md-min) {
    padding: 50px 0;
  }

}

// Hello bar

.hello-bar-wrapper {

  .hello-bar {
    background-color: $body-bg;
  }

  .hello-bar-bottom {
    position: fixed;
    width: 100%;
    border-top: 1px solid $color-gray-extra-light;
    z-index: 1;
    background: $body-bg;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .dismiss-hellobar {
      border: 0;
      box-shadow: none;
      position: absolute;
      height: 40px;
      width: 40px;
      top: calc(50% - 20px);
      padding: 0;
      right: 40px;
      cursor: pointer;
    }

    .hellobar-x {
      height: 20px;
    }

    .hello-bar-content {
      padding: 16px;
      position: relative;

      p {
        font-size: 18px;
        font-weight: 600;
        padding: $input-padding;
        color: $color-primary-alt;
      }

      @media all and (max-width: $screen-sm-min) {
        margin-right: 80px;
      }

    }

    &:hover {
      text-decoration: none;
      color: $color-primary-alt;

      .hello-bar-content {
        opacity: .8;
      }

    }

  }

  .hello-bar-dark {
    text-decoration: none;

    .hello-bar-content {
      background-color: $color-primary-dark;
      color: $color-white;

      &:hover {
        color: $color-transparent-white-alt;
      }

    }

    &:hover {
      text-decoration: none;
    }

  }

  .hello-bar-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 16px;

    img {
      height: 30px;
      flex: 0 0 auto;
    }

    p {
      margin: 0 0 0 10px;
      font-size: 16px;
    }
  }

}

// Customer logos partial includes/home

.customer-logos-container {
  padding: 40px 240px;
  padding-bottom: 20px;

  p {
    text-align: center;
    font-size: 18px;
    line-height: 1.4;
    color: $color-gray;
    margin: 0;
  }

  .logos-container {
    padding-top: 10px;

    img {
      height: 40px;
      max-width: 120px;
      padding: 20px;
      margin: auto;
      box-sizing: content-box;

      @media (max-width: $screen-md-min) {
        padding: 20px 40px;
      }

    }

    @media (max-width: $screen-md-min) {
      flex-wrap: wrap;
    }

  }

  @media (max-width: $screen-lg-min) {
    padding: 40px 80px;
    padding-bottom: 20px;
  }

}

@keyframes sdlcHideAndShow {

  from {
    transform: scale(0);
  }

  10% {
    transform: scale(1);
  }

  90% {
    transform: scale(1);
  }

  to {
    transform: scale(0);
  }

}

.autodevops-illustration-container {
  width: 100%;

  .eyebrow {
    transform-origin: .2% 1%;
  }

  .swear {
    opacity: 0;
  }

  .music-note {
    opacity: 0;
    animation: blinking 6s cubic-bezier(0, 0, 0, 1) infinite;
  }

  .music-note:nth-child(odd) {
    animation-delay: 2s;
  }

  .developer {

    .whistle-note {
      opacity: 0;
    }

    .arms {
      opacity: 0;
    }

    .body-container {
      transform-origin: 3% 15%;
    }

    .process {
      opacity: 0;
      overflow: hidden;

      .chef-deploy-approved {
        opacity: 0;
      }

      .auto-devops-steps {
        opacity: 0;
      }

      .mouse {
        opacity: 0;
      }

      .deploy-button {
        transform-origin: 6% 1%;
      }

      .approval-circle-shape {
        stroke-dasharray: 100;
        stroke-dashoffset: 100;
      }

      .check {
        stroke-dasharray: 20;
        stroke-dashoffset: 20;
      }

      .binary-text {
        transform-origin: 7.5% 7.1%;
      }

      .load-bar {
        width: 0;
      }

    }

    .shirt {
      transform-origin: 5% 8%;
    }

  }

  .plant-dead-container {
    display: none;
  }

  .container-right {

    .mouth {
      stroke-dasharray: 40;
      stroke-dashoffset: -5;
    }

    .mug-container {

      .coffee-mists {
        stroke-dasharray: 20;
        stroke-dashoffset: -20;
        animation: coffeeMists 4s ease-in-out infinite;
      }

    }

    .plant-container {

      .petal {
        transform: rotate(10deg);
        transform-origin: 1.2% 5%;
        animation: swayPetals 3s ease-in-out infinite;
      }

    }

  }

  .container-left {

    .gerrit-review {

      .code-line {
        opacity: .2;
      }

    }

  }

  @keyframes blinking {
    10% {
      opacity: 0;
    }

    20% {
      opacity: 1;
    }

    30% {
      opacity: 0;
    }

    40% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }

  }

  .shirt-animation {
    animation: codingShirt 1.4s linear infinite;
  }

  @keyframes codingShirt {

    25% {
      transform: rotate(2deg);
    }

    40% {
      transform: rotate(-2deg);
    }

    50% {
      transform: rotate(-3deg);
    }

    64% {
      transform: rotate(-1deg);
    }

    83% {
      transform: rotate(2deg);
    }

    89% {
      transform: rotate(1deg);
    }

  }

  @keyframes coffeeMists {

    75% {
      stroke-dashoffset: 30;
    }

    to {
      stroke-dashoffset: 30;
      transform: translateY(-20px);
    }

  }

  @keyframes swayPetals {

    50% {
      transform: rotate(-10deg);
    }

  }

}
