.hello-bar-wrapper
  %a.hello-bar.animated.hello-bar-dark{ href: '/2018/07/22/gitlab-11-1-released/' }
    .hello-bar-content
      -# = image_tag "/images/home/gcp-logo.png", srcset: "/images/home/gcp-logo@2x.png 2x"
      %p
        GitLab 11.1 released with Security Dashboards, security reports at the pipeline level, advanced code search syntax, merge request redesign, and much more!
